.box {
  width: 500px;
  height: 500px;
  border: 5px solid black;
  margin: 50px 15px;
}

.main {
  display: flex;
  justify-content: center;
}

.win {
  border: 5px solid green;
}

.lose {
  border: 5px solid red;
}

.tie {
  border: 5px solid black;
}
